@model  IEnumerable<PFL.Models.DTO.ClubOfficialOrderListDto>
@{
    Layout = "";
    string baseUrl = ViewBag.BaseUrl;
    int rowNumber = 0;
    DateTime currentDate = DateTime.Now;
}

<style>
    .order-row {
        background-color: #ffa5a5;
    }
</style>


<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Turnirdə klubun rəsmiləri</h5>
        <div class="heading-elements">

            <ul class="icons-list">
                <li>
                    <button type="button" class="btn btn-primary alpaca-float-right" data-toggle="modal" data-target="#cto-modal" data-backdrop="static" data-keyboard="false">+ Əlavə et</button>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-bordered" id="coo-tbl">
        <thead>
            <tr>
                <td>#</td>
                <th>A.S.A.</th>
                <th>Vəzifəsi</th>
                <th>
                    Xitam tarixi
                </th>
                <th>Status</th>
                <th class="text-center col-md-2">Əməliyyatlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                rowNumber++;
                <tr id="coo-row-@item.Id" class="@(item.TerminationDate.HasValue && item.TerminationDate<currentDate ? "order-row" : "")">
                    <td>@rowNumber</td>
                    <td>
                        @item.FirstName @item.LastName @item.FatherName
                    </td>
                    <td>
                        @(item.PositionName)
                    </td>
                    <td>
                        @(item.TerminationDate?.ToString("dd.MM.yyyy"))
                    </td>

                    @if (item.Rejected && !item.ClubConfirm)
                    {
                        <td><span class="label label-danger">İmtina edilib</span></td>
                    }
                    else if (item.OperatorConfirm)
                    {
                        <td><span class="label label-success">Təsdiqlənib</span></td>
                    }
                    else if (item.ClubConfirm)
                    {
                        <td><span class="label label-primary">Təsdiqə göndərilib</span></td>
                    }
                    else
                    {
                        <td><span class="label label-warning">Yekunlaşmamış</span></td>
                    }

                    <td class="text-center">
                        @if (item.ClubConfirm && !item.Rejected && !item.OperatorConfirm)
                        {

                            <div class="col-md-8 col-md-offset-2">
                                <div class="col-md-6">
                                    <button type="button" data-href="/OfficialOrders/Confirmation?id=@(item.Id)&confirm=false" class="btn btn-danger btn-icon official-order-confirm" title="Təsdiqlə"><b><i class="icon-cross"></i></b>&nbsp;</button>
                                </div>

                                <div class="col-md-6">
                                    <button type="button" data-href="/OfficialOrders/Confirmation?id=@(item.Id)&confirm=true" class="btn btn-primary btn-icon official-order-confirm" title="Təsdiqlə"><b><i class="icon-check2"></i></b>&nbsp;</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a data-player-order-id="@(item.Id)" class="terminate-official-order" data-toggle="modal" data-target="#termination-official-order-modal" data-backdrop="static" data-keyboard="false" title="Xitam"><b><i class="icon-move-right text-danger-600"></i></b>&nbsp;</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(".official-order-confirm").click(function () {

        $.ajax({
            url: $(this).data('href'),
            method: "GET",
            success: function (data) {
                $("#official-order-confirm-body").html(data);
                $('#official-order-confirm-modal').modal();
            }
        });
    });



    $(".terminate-official-order").click(function () {

        $.ajax({
            url: "/OfficialOrders/TerminateOrder?id=" + $(this).data('player-order-id'),
            method: "GET",
            success: function (data) {
                $("#termination-official-order-modal-body").html(data);
                $('#termination-official-order-modal').modal();
            }
        });
    });
</script>