@using PFL.Models.Enums
@model IEnumerable<PFL.Models.DTO.MatchPenaltyCardDto>
@{
    ViewBag.Title = "Sarı, qırmızı vərəqələr";
    Layout = "";
    int rowNumber = 0;
    string baseUrl = ViewBag.BaseUrl;
}



<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-primary alpaca-float-right card-modal">+ Əlavə et</button>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad, soyad</th>
                <th>Komanda</th>
                <th>Vaxt</th>
                <th>Səbəbi</th>
                <th class="text-center">Əməliyyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                rowNumber++;



                <tr>
                    <td>@item.PlayerNumber</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.ClubName</td>
                    <td>

                        @if (item.PenaltyCardType == PenaltyCardTypeEnum.Yellow)
                        {
                            <img src="/assets/images/yellow.png" />
                        }
                        else if (item.PenaltyCardType == PenaltyCardTypeEnum.Yellow2)
                        {
                            <img src="/assets/images/yellow_red.png" />
                        }
                        else if (item.PenaltyCardType == PenaltyCardTypeEnum.Red)
                        {
                            <img src="/assets/images/red.png" />
                        }

                        @if (string.IsNullOrEmpty(item.OffGameTypeName))
                        {
                            @item.Minute @(item.MinutePlus != null && item.MinutePlus != 0 ? " + " + item.MinutePlus : "")
                        }
                        else
                        {
                            @item.OffGameTypeName
                        }

                    </td>
                    <td>@item.Reason</td>
                    <td class="text-center">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-6">
                                <a data-href="/@(baseUrl)/EditMatchCard?Id=@(item.MatchClubPlayerId)&matchId=@(item.MatchId)&cardType=@(item.PenaltyCardType)" class="card-modal"><i class="icon-pencil7 text-primary-600"></i></a>
                            </div>
                            <div class="col-md-6">
                                <a class="remove-card" data-href="/Referee/DeleteCard?matchPlayerId=@(item.MatchClubPlayerId)&penaltyCardType=@(item.PenaltyCardType)"><i class="icon-trash text-danger-600"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="card-modal" tabindex="-1" role="dialog" aria-labelledby="card-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="card-modal-label">Yeni cərimə vərəqinin əlavə edilməsi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="card-modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İmtina</button>
                <button type="button" class="btn btn-primary" id="card-form-save">Yadda saxla</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#card-form-save').on('click', function (e) {
        e.preventDefault();

        var _url = "/Referee/AddMatchCard";

        if ($('#match-card-form').find('#Id').val() != null) {
            _url = "/Referee/EditMatchCard";
        }

        $.ajax({
            type: "POST",
            url: _url,
            data: $('#match-card-form').serialize(),
            success: function (response) {
                if (response.ok) {
                    $("#card-modal").modal('toggle');
                    window.location.reload();
                } else {
                    $("#validation-message").html(response.error);
                }
            },
            error: function () {
                alert('Error');
            }
        });
        return false;
    });



    $(".remove-card").click(function () {



        swal({
                title: "Silinsin?",
                icon: "warning",
                buttons: ["İmtina", "Təsdiq"],
                dangerMode: false,

            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: 'Delete',
                        url: $(this).data('href'),
                        success: function (data) {
                            if (data.ok) {
                                swal("Əməliyyat uğurlu!",
                                    {
                                        icon: "success",
                                    });
                                window.location.reload();
                            } else {
                                swal(data.error,
                                    {
                                        icon: "error",
                                    });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                            swal('Əməliyyatda səhvlik!');

                        }
                    });

                } else {
                    //swal("Your imaginary file is safe!");
                }
            });
    });

</script>