@using PagedList.Mvc
@model  PagedList.IPagedList<PFL.Entities.EntityModels.Tournament>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseUrl = ViewBag.BaseUrl;
    int rowNumber = (Model.PageNumber - 1) * Model.PageSize;
    int currentYear = DateTime.Now.Year;
}


<div class="panel panel-flat">

    @FormHelper.ListFormHeader("Turnirlər", "Turnir yarat", "/Tournaments/Create")

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad</th>
                <th>Klublar</th>
                <th>Oyunlar</th>
                <th>Turnir cədvəli</th>
                <th>Kart statistikası</th>
                <th>Tip</th>
                <th>Mövsüm</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                rowNumber++;
                <tr>
                    <td>@rowNumber</td>
                    <td>@item.Name</td>
                    <td><a href="/Tournaments/Details?id=@item.Id#clubs">Klublar</a></td>
                    <td><a href="/Tournaments/Details?id=@item.Id#matches">Oyunlar</a></td>
                    <td><a href="/Tournaments/Details?id=@item.Id#tournament-calendar">Turnir cədvəli</a></td>
                    <td><a href="/Tournaments/Details?id=@item.Id#card-statistics">Kart statistikası</a></td>

                    <td>@item.TournamentType.Description</td>
                    <td>@item.SeasonStartYear - @item.SeasonEndYear</td>

                    @if (item.Completed.HasValue && !item.Completed.Value)
                    {
                        <td>
                            <span class="label label-@(!item.IsDeleted ? "success" : "danger")">@(!item.IsDeleted ? "Aktiv" : "Silinmiş")</span>
                        </td>

                        <td class="text-center">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="col-md-4">
                                    <a href="/@(baseUrl)/Edit?Id=@item.Id"><i class="icon-pencil7 text-primary-600"></i></a>
                                </div>

                                @if (item.IsDeleted)
                                {
                                    <div class="col-md-4">
                                        <a href="/@(baseUrl)/Undo?Id=@item.Id" title="Redaktə et"><i class="fas fa-undo-alt"></i></a>
                                    </div>
                                }
                                else
                                {

                                    <div class="col-md-4">
                                        <a href="/@(baseUrl)/Delete?Id=@item.Id" title="Sil"><i class="icon-trash text-danger-600"></i></a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="" data-href="/@(baseUrl)/Complete?Id=@item.Id" class="complete-tournament" title="Yekunlaşdır"><i class="icon-checkmark-circle text-success-600"></i></a>
                                    </div>
                                }



                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="label label-danger">Yekunlaşmış</span>
                        </td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="datatable-footer">
        <div class="dataTables_paginate">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

@section footer{

    <script src="/assets/js/sweetalert.min.js"></script>
    <script>

        $(".complete-tournament").on('click',
            function (e) {
                e.preventDefault();
                e.stopPropagation();


                swal("Turnir yekunlaşdırılsın?",
                    {
                        buttons: {
                            cancel: "İmtina",
                            confirm: "Təsdiq"
                        },
                        icon: "warning"
                    })
                    .then((value) => {
                        if (value) {
                            $.ajax({
                                url: $(this).data('href'),
                                method: "GET",
                                success: function (data) {
                                    if (data.ok) {
                                        swal("Siyahı təsdiqləndi");

                                        setTimeout(function () {
                                            location.reload();
                                        },500);

                                    } else {
                                        swal({
                                            title: data.error,
                                            icon: "warning"
                                        });
                                    }
                                }
                            });
                        }
                    });
            });


    </script>

}