@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>PFL - @ViewBag.Title</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>

    <!-- /theme JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
    @*<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>*@
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>

    @RenderSection("before_app_scripts", required: false)

    <script type="text/javascript" src="/assets/js/core/app.js"></script>

    @RenderSection("after_app_scripts", required: false)



    @* <script type="text/javascript" src="/assets/js/pages/wizard_steps.js"></script> *@
    <script type="text/javascript" src="/assets/js/pages/form_select2.js"></script>
    <script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
    @*<script type="text/javascript" src="/assets/js/pages/form_checkboxes_radios.js"></script>*@
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>


    <!-- /theme JS files -->

    <link href="~/assets/css/icons/fontawesome/css/all.css" rel="stylesheet" />

    <style>
        table {
            border-top: 1px solid #ddd !important;
        }
    </style>

</head>

<body class="sidebar-xs">

    <!-- Main navbar -->
    @Html.Partial("~/Views/Shared/_PartialMainNavbar.cshtml")
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            @Html.Partial("~/Views/Shared/_PartialMainSidebar.cshtml")
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                @Html.Partial("~/Views/Shared/_PartialPageHeader.cshtml")
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">

                    @RenderBody()

                    <!-- Footer -->
                    <div class="footer text-muted">
                        &copy; @DateTime.Now.ToString("dd.MM.yyyy"). <a href="#">PFL</a>
                        @*<a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>*@
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->



    @RenderSection("footer", required: false)

    <script>
        $('.sidebar-main-toggle').on('click', function (e) {
            e.preventDefault();

            // Toggle min sidebar class
            $('body').toggleClass('sidebar-xs');
        });
    </script>
</body>
</html>

